{% extends 'base.html' %} {% block header %}
<h1>
  {% block title %}Approved {{ total_finished }} of {{ total_all }}
  <progress
    id="determinate"
    value="{{ total_finished }}"
    min="0"
    max="{{ total_all }}"
  ></progress
  >{% endblock %}
</h1>
<div>{{ url_parser.page }} / {{ total_to_do }}</div>
<div class="pagination">
  {% if url_parser.prev_url %}
  <a href="{{ url_parser.prev_url }}">❮</a>
  {% endif %} {% if url_parser.next_url %}
  <a href="{{ url_parser.next_url }}">❯</a>
  {% endif %}
</div>
{% endblock %} {% block content %} {% for r in records %}
<div class="center">
  <a
    class="button"
    href="{{ url_for('record.update', id=r['id'], page=url_parser.page, unfinished=url_parser.unfinished, ) }}"
    >Edit Archival Item</a
  >
  <a
    class="button"
    href="{{ url_for('references.index', id=r['id'], page=url_parser.page, unfinished=url_parser.unfinished) }}"
    >Edit References</a
  >
  {% if r['finished'] %}
  <a class="button-blue" href="">Undo Approval</a>
  {% endif %}
</div>
{% include 'record/_record.html' %} {% endfor %} {% endblock %} {% block footer
%} {% endblock %}
