{% extends 'base.html' %} {% block sidenav %}
<div class="sidenav">
  <a class="button" href="{{ url_parser.current_url }}">Return to Scroll</a>
</div>
{% endblock %} {% block header %}
<h1>{% block title %}Edit References{% endblock %}</h1>
<!-- <div class="pagination">
  {% if prev_url %}
  <a href="{{ url_parser.prev_url }}">❮</a>
  {% endif %}
  <a href="{{ url_parser.current_url }}">Back</a>
  {% if next_url %}
  <a href="{{ url_parser.next_url }}">❯</a>
  {% endif %}
</div> -->
{% endblock %} {% block content %} {% include 'record/_record.html' %}
<hr class="dashed" />

{% if citations %} {% include 'references/_reference.html' %} {% endif %}

<div class="center">
  <a
    class="button-green"
    href="{{ url_for('references.create', id=r['id'], page=url_parser.page, unfinished=url_parser.unfinished) }}"
    >Add reference</a
  >
</div>

{% endblock %}
