{% extends 'base.html' %}

{% block header %}
  {% include 'record/_record.html' %}
{% endblock %}

{% block content %}
<h1>{% block title %}Edit "{{ r['best_shelfmark'] }}"{% endblock %}</h1>

<hr class="dashed">

<form>

  <h3>Existing References</h3>
  {% for c in citations %}
  <table class="post">
    <!-- Source -->
    <label class="form" for="source">Source</label>
    <input name="source" id="source" value="{{ request.form['source'] or r[''] }}" required>
    <!--  -->
  </table>
  {% endfor %}

  <h3>New Reference</h3>
  <table class="post">
    <!-- Source -->
    <label class="form" for="source">Source</label>
    <input name="source" id="source" value="{{ request.form['source'] or r[''] }}" required>
    <!--  -->
  </table>
  
<input type="submit" value="Approve">
</form>
  

  <!-- <form class="post" method="post">
      <label class="form" for="best_shelfmark">Shelfmark</label>
        <input name="best_shelfmark" id="best_shelfmark" value="{{ request.form['best_shelfmark'] or r['best_shelfmark'] }}" required>
      <label class="form" for="collection">Collection</label>
        <input name="collection" id="collection" value="{{ request.form['collection'] or r['collection'] }}" required>
      <label class="form" for="digitization_url">URL</label>
        <input name="digitization_url" id="digitization_url" value="{{ request.form['digitization_url'] or r['best_url'] }}" required>    
      <label class="form" for="old_shelfmarks">Old Shelfmarks (separated by |)</label>
        <input name="old_shelfmarks" id="old_shelfmarks" value="{{ request.form['old_shelfmarks'] or r['old_shelfmarks'] }}" required>    
    <input type="submit" value="Approve">
  </form>
  <hr>
  </form> -->
{% endblock %}
