<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<title>{% block title %}{% endblock %} - LostMa Editor</title>

<script>
  const countrySelector = document.getElementById("city");
  countrySelector.addEventListener("change", (evt) => {
    const value = evt.target.value;
    if (value) {
      buildTable(
        data.filter((row) => {
          let [name, age, country, link] = row;
          return country === value;
        })
      );
    } else {
      buildTable(data);
    }
  });
</script>

{% block sidenav %} {% endblock %}

<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>

<section>
  <footer>{% block footer %}{% endblock %}</footer>
</section>
